
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Merienda&display=swap');

/*headings -  font-family: 'La Belle Aurore', Brush Script MT, cursive;
paragraph -   font-family: 'Merienda', 'Courier New', monospace; */
body{
    color:#A12745;
    background-color: white;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}
header{
    color: #F8D6D8;
    background-color: #7A0A26;
}
nav a{
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    color: white;
    background-color: #439999;
}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
footer{
    color: #D3DFF2;
    background-color:#003D3B;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a{
    text-decoration: none;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
.book, .join{
    background-color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    color:#D3DFF2;
    background-color: #439999;
}
.home-title{
    font-family: 'La Belle Aurore', Brush Script MT, cursive;
    font-size: 2em;
    margin-top: 10px;
}
.button_box{
    text-align: center;
}
.msg{
    color:#439999;
    background-color: white;
    font-family: 'Merienda', 'Courier New', monospace;
    line-height: 1.5em;
    padding: 35px;
}
.msg p{
    font-size: .8em;
    padding-bottom: 15px;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.card-img{
    border: 10px solid #003D3B;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
#logo-link{
    padding-top: 5px;
}
#background{
    height: 725px;
    background-color:#A12745;
}
#hero{
    width: auto;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
#hero-img{
    width: 100%;
}
#hero-box{
    width: auto;
}