
body{
    background-color:mintcream;
    background-image: repeating-linear-gradient(to bottom left, mintcream, cyan 50%);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
main{
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 940px;
    background-color: white;
    box-shadow: 1px 1px 8px seagreen;
    max-height: 470px;
    margin: 0;
    border: 20px solid white;
    gap: 5px;
}
main h1{
    grid-column: 2/3;
    margin: 0;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    border-bottom: 1px solid black;
}
main h3{
    grid-column: 2/3;
    margin-bottom: 20px;
    margin-top: 0;
    padding-left: 60px;
    padding-right: 60px;
}
main p{
    grid-column: 2/3;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 0.9em;
    margin-bottom: 0px;
}
.mypic{
    grid-column: 1/2;
    width: 400px;
    height: 470px;
    margin-top: -425px;
}
.bottomgrid{
    display: grid;
    padding-bottom: 46px;
}


.box-holder{
    display: grid;
    grid-auto-flow: column;
    gap: 3px;
    width: 60px;
}

@media screen and(max-width: 850px){
    body{
        place-items: start;
    }
    main{
        grid-template-columns: 1fr;
        width: 100%;
        background-image: inherit;
    }
    main section{
        padding: 0 60px;
        background-color: white;
    }
}