body{
    background-color: maroon
}
h1{
    background-color: burlywood;
    color:coral;
    padding:10px 20px;
    margin:20px;
    border: 5px solid white;
    border-radius: 20px;
    text-align:center
}
#smaller{
    font-size:1.3em;
    background-color: peachpuff;
    color: sienna
}

.highlight{
    background-color: red
}

h2{
    background-color:orangered
}

.orange{
    background-color: orange
}

