/*importing fonts*/
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Special+Elite&family=Zeyada&display=swap');

/*setting the default body condition for each page, plus the header and footer*/
body{
    margin: 0;
    padding: 0;
    background-color: #F0EAD2;
}
header{
    display:grid;
    grid-template-columns: 150px auto;
    background-color: #DDE5B6;
}
.logo{
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    color: #A98467;
    text-align: center;
    text-decoration: none;
    padding: 35px;
    font-size: 120%;
}
nav a:hover{
    color: #F0EAD2;
    background-color: #ADC178;
}
footer{
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #DDE5B6;
}
.content{
    max-width: 1600px;
    margin: 0 auto;
}
.home-page{
    display: grid;
    grid-template-rows: repeat(3, 1fr)
}

/*TEMPORARY DEFAULTS*/
img{
    max-width: 600px;
    margin: 0;
}
h1, h2, h3{
    font-family: 'Special Elite', cursive;
}
p{
    font-family: 'Chakra Petch', sans-serif;
}
/*TEMPORARY DEFAULT ENDS*/

.hook-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-height: 600px;
    height: 600px;
    background-color: #6C584C;
    color: #DDE5B6;
    align-items: center;
    text-align: center;
}
.hook-box img{
    max-width: 600px;
    margin: 20px;
    border: 2px solid #F0EAD2;
    box-shadow: 0px 0px 3px black;
    grid-column: 1/2;
    grid-row: 1/3;
}
.hook-text{
    grid-column: 2/3;
    grid-row: 1/3;
    font-size: 130%;
    padding: 70px;
}
.hook-box h1{
    grid-column: 1/3;
    grid-row: 1/3;
    margin-top: -500px;
}
.pitch-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-height: 600px;
    height: 600px;
    background-color: #A98467;
    color: #F0EAD2;
    justify-items: center;
    text-align: center;
}
.pitch-box img{
    grid-column: 2/3;
    grid-row: 1/3;
    border: 2px solid #F0EAD2;
    box-shadow: 0px 0px 2px black;
}
.pitch-text{
    grid-column: 1/2;
    grid-row: 1/3;
    font-size: 140%;
    align-self: center;
    padding: 70px;
}
.ramble-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-height: 600px;
    height: 600px;
    background-color: #ADC178;
    color: #6C584C;
    justify-items: center;
    text-align: center;
}
.ramble-box img{
    grid-column: 1/2;
    grid-row: 1/3;
    border: 2px solid #F0EAD2;
    box-shadow: 0px 0px 2px black;
}
.ramble-text{
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
    font-size: 140%;
    padding: 70px;
}
/*images relevant to the home page*/
.pic1{
    width: 325px;
    margin-right: -300px;
    margin-top: 10px;
}
.pic2{
    width: 375px;
    margin-top: 275px;
    margin-left: -350px;
}
.pic3{
    margin-top: 10px;
    margin-right: 350px;
    width: 275px;
}
.pic4{
    width: 200px;
    margin-top: 200px;
}
.pic5{
    width: 350px;
    margin-top: 10px;
    margin-left: -310px;
}
.pic6{
    width: 275px;
    margin-left: 350px;
    margin-top: 15px;
}
.pic7{
    width: 250px;
    margin-left: 150px;
    margin-top: 336px;
}
.pic8{
    width: 275px;
    z-index: 1;
    margin-top: 300px;
    margin-left: -315px;
}
/*home-page image section over*/

/*snapple page start!*/
.snap-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 600px 600px 600px 600px;
    max-width: 1600px;
    background-color:#6C584C;
}
.snap-profile-box{
    grid-column: 3/5;
    grid-row: 1/2;
    display: grid;
    margin-left: -200px;
    margin-top: 25px;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    font-size: 110%;
}
.snap-profile-box h2{
    grid-column: 1/3; 
    margin-top: 20px;
    color: #DDE5B6;
}
.snap-profile-box h3{
    grid-column: 1/2;
    margin: 0px;
    color: #ADC178;
    text-align: center;
}
.snap-profile{
    grid-column: 1/3;
    grid-row: 1/2;
    max-width: 425px;
    margin-left: 15px;
    margin-top: 15px;
    border: 15px solid white;
    border-bottom: 45px solid white;
    padding: 3px;
    background-color: #A98467;
    text-shadow: 0px 0px 2px #ADC178;
}
.snap-pfp-desc{
    grid-column: 1/3;
    grid-row: 1/2;
    margin-top: 545px;
    margin-left: 150px;
    font-size: 110%;
    color: #6C584C;
    text-shadow: 0px 0px 1px black;
}
.snap-pic2{
    grid-column: 4/5;
    grid-row: 1/2;
    max-width: 300px;
    margin-top: 90px;
    margin-left: 125px;
    border: 8px solid white;
    border-bottom: 30px solid white;
    background-color: #A98467;
    padding: 2px;
    box-shadow: 0px 0px 2px black
}
.snap-color-desc{
    grid-column: 4/5;
    grid-row: 1/2;
    margin-top: 555px;
    margin-left: 195px;
    font-size: 110%;
    color: #6C584C;
    text-shadow: 0px 0px 1px black;
}
.flavorpic1{
    grid-column: 1/2;
    grid-row: 2/3;
    max-width: 375px;
    border: 2px solid #A98467;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0px 0px 2px #ADC178;
}
.flavorpic2{
    grid-column: 1/2;
    grid-row: 2/3;
    max-width: 300px;
    border: 2px solid #A98467;
    margin-top: 300px;
    margin-left: 175px;
    box-shadow: 0px 0px 2px #ADC178;
}
.snap-backstory-bg{
    background-color: #DDE5B6;
    grid-column: 1/5;
    grid-row: 2/3;
    box-shadow: 0px 0px 4px #DDE5B6;
}
.snap-backstory{
    grid-column: 2/5;
    grid-row: 2/3;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    font-size: 115%;
    color: #6C584C;
    text-shadow: 0px 0px 1px black;
    /*background-color: #DDE5B6;
    color: #6C584C;*/
}
.snap-flavor-bg{
    background-color: #ADC178;
    grid-column: 1/5;
    grid-row: 3/4;
    box-shadow: 0px 0px 4px #ADC178;
}
.snap-flavortext{
    grid-column: 1/3;
    grid-row: 3/4;
    text-align: center;
    margin: 10px;
    margin-left: 60px;
    font-size: 150%;
    align-self: center;
    color: #F0EAD2;
    text-shadow: 0px 0px 1px green;
}
.snap-ogdesign{
    grid-column: 4/5;
    grid-row: 3/4;
    max-width: 500px;
    border: 10px solid white;
    border-bottom: 40px solid white;
    margin-top: 22px;
    margin-right: 20px;
    padding: 3px;
    background-color:#A98467;
    box-shadow: 0px 0px 2px black;
}
.snap-concept{
    grid-column: 4/5;
    grid-row: 3/4;
    font-size: 110%;
    margin-top: 548px;
    margin-left: 175px;
    color:#6C584C;
}
.snap-gallery{
    grid-column: 1/5;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #A98467;
    box-shadow: 0px 0px 4px #A98467;
}
.snap-gallery p{
    margin-top: -150px;
    font-size: 105%;
    color: #6C584C;
    text-shadow: 0px 0px 1px black;
}
.snap-gallery img{
    margin: 5px;
    margin-top: 55px;
    max-width: 300px;
    border: 5px solid white;
    border-bottom: 25px solid white;
    background-color: #A98467;
    padding: 2px;
    box-shadow: 0px 0px 2px black;
}
/*snapple page end!*/

/*zanir page start!*/
.zanir-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 600px 600px 600px 600px;
    max-width: 1600px;
}
.zanir-profile-box{
    grid-column: 3/5;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.zanir-profile-box h2{
    grid-column: 1/3; 
}
.zanir-profile-box h3{
    grid-column: 1/2;
}
.zanir-profile{
    grid-column: 1/3;
    grid-row: 1/2;
}
.zanir-pic2{
    grid-column: 4/5;
    grid-row: 1/2;
}
.zanir-backstory{
    grid-column: 2/5;
    grid-row: 2/3;
}
.zanir-flavortext{
    grid-column: 3/5;
    grid-row: 3/4;
}
.zanir-gallery{
    grid-column: 1/5;
    grid-row: 4/5;
    display: inline;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
/*zanir page end!*/